<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>MQTT Sensor Dashboard</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body onload="mqttconnect()">
  <h1>mqtt Test</h1>
  <p>Humidity : </p><p id="humidity">7</p>
    <!-- <div >
        <canvas id="hum-chart" width="500" height="200"></canvas>
    </div> -->
  <div id="humchart" style="width:600px;height:300px;"></div>
  <div id="sensor-data"></div>
  <script src="index.js"></script>
  <script src="mqtt.js"></script>
  <script src="plotly-latest.min.js"></script>
</body>
</html>
